---
layout: default
title: Editor
---


<div class="container">

    {% assign api = site.data.api %}
    {% assign openapi = site.data.api | jsonify %}

    <div class="row">
        <script>
            function changeToken(t){
                Cookies.set('token',t)
            }
            function changeGToken(t){
                Cookies.set('gtoken',t)
            }	
            function viewOpenAPI(){
            
                if(document.getElementById('openapi').style.display == 'none'){
                    document.getElementById('openapi').style.display = '';
                }
                else{
                    document.getElementById('openapi').style.display = 'none';
                }
                
            }			
        </script>
        <div class="col">				
            <input type="text" width="100" class="form-control" id="token" name="token" value="" placeholder="API Token" onchange="changeToken();"><br>
        </div>
        <div class="col">				
            <input type="text" width="100" class="form-control" id="gtoken" name="gtoken" value="" placeholder="Github Token" onchange="changeGToken();"><br>
        </div>			
        <div class="col">
            <input type="button" class="btn btn-success" name="show" value="Publish" onclick="publishREADMEToGithub();">
        </div>	
        <div class="col">
            <input type="button" class="btn btn-success" name="show" value="View OpenAPI" onclick="viewOpenAPI();">
        </div>	        					
    </div>

    <textarea id="openapi" cols="100" rows="5" style="width: 100%; height: 400px; display: none;">{{ openapi }}</textarea>    

    <h1>{{ api.info.title }}</h1>
    <p>{{ api.info.description }}</p>   

    <h1>Paths</h1>
    <div class="accordion" id="accordionExample">

        {% for path in api.paths %}

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="exampleFormControlInput1" value="{{ path[0] }}" style="font-size: 24px; font-weight: bold; width: 750px;">
                    </div>                    
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    
                    {% for method in path[1] %}

                        {% if method[0] == 'get' %}
                            {% assign method_color = "#228B22" %}
                        {% elsif method[0] == 'post' %}
                            {% assign method_color = "#FF5733" %}
                        {% elsif method[0] == 'put' %}
                            {% assign method_color = "#FFC300" %} 
                        {% elsif method[0] == 'delete' %}
                            {% assign method_color = "#C70039" %}                                                                                     
                        {% elsif method[0] == 'options' %}
                            {% assign method_color = "#0006FF" %}                             
                        {% endif %}

                        <h4><span style="color:{{ method_color }};">{{ method[0] | upcase }}</span> {{ method[1].summary }}</h4>

                        <div class="mb-3">
                            <label for="method" class="form-label">Method:</label>
                            <input type="text" class="form-control" id="method" value="{{ method[0] }}">
                        </div>

                        <div class="mb-3">
                            <label for="summary" class="form-label">Summary:</label>
                            <input type="text" class="form-control" id="summary" value="{{ method[1].summary }}">
                        </div>                        

                        {% if method[1].description %}
                        <div class="mb-3">
                            <label for="description" class="form-label">Description:</label>
                            <input type="text" class="form-control" id="description" value="{{ method[1].description }}">
                        </div> 
                        {% endif %}

                        {% if method[1].parameters %}
                            <h5>Parameters</h5>
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Required</th>
                                    <th scope="col">Descripton</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for parameter in method[1].parameters %}  
                                    <tr>
                                        <td><input type="text" class="form-control" id="name" value="{{ parameter.name }}"></td>
                                        <td><input type="text" class="form-control" id="required" value="{{ parameter.required }}"></td>
                                        <td><input type="text" class="form-control" id="description" value="{{ parameter.description }}"></td>
                                    </tr>
                                  {% endfor %}  
                                </tbody>
                            </table>
                        {% endif %}

                        {% if method[1].requestBody %}
                            <h5>Request Body:</h5>
                            <div class="mb-3">
                                <label for="response-status-code" class="form-label">Request Body:</label>
                                <input type="email" class="form-control" id="response-status-code" placeholder="{{ method[1].requestBody['$ref'] | replace: '#/components/requestBodies/','' }}">
                            </div>                              
                        {% endif %}  
                                  

                    {% endfor %}  

                    </div>
                </div>
            </div>              

        {% endfor %}

    </div>

</div>